{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags advert_tags demo_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}
<h1>banner列表</h1>
<div>
    {% for banner in page.banner.all %}
        <div>
            <a href="{{ banner.metadata.url}}">
                {% image banner.metadata.image fill-160x100 %}
                {{ banner.metadata.title}}
            </a>
        </div>
    {% endfor %}
</div>


{% adverts %}

{% demos %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% include 'home/welcome_page.html' %} 
{{ page.body|richtext }}

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
