{% extends "base.html" %}
{% load wagtailcore_tags advert_tags demo_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

{% adverts %}

{% demos %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% comment %} {% include 'home/welcome_page.html' %} {% endcomment %}
{{ page.body|richtext }}

{% endblock content %}
