/* 通用banner样式 */

.banner-container {
  position: relative;
  width: 100%;
  height: 300px;
  border: 1px solid #00a3fe;
}
.banner-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-item a img {
  width: 100%;
  height: 100%;
}

/* 通用nav样式 */
